{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}
    <h1>index page</h1>
    <!-- <ul>
        {% for person in people %}
            <li>{{ person }} <button onclick="deletePerson('{{ person.pid }}')">delete</button><a href="{{ url_for('details',pid=person.pid) }}">details</a></li>
        {% endfor %}
    </ul>
    <h3>new person</h3>
    <form action="{{ url_for('index') }}" method="POST">
        <input type="text" name="name" title="name" placeholder="name" required><br>
        <input type="number" name="age" title="age" placeholder="age" required><br>
        <input type="text" name="job" title="job" placeholder="job" required><br>
        <input type="submit" value="create">
    </form> -->

    {% if current_user.is_authenticated %}
        <h3>Hello {{ current_user.username }}</h3>
    {% else %}
        <h3>hello</h3>
    {% endif %}

    <a href="{{ url_for('login') }}">login</a>
    <a href="{{ url_for('signup') }}">signup</a>
    <a href="{{ url_for('logout') }}">logout</a>
    <a href="{{ url_for('secret') }}">secret</a>

{% endblock %}
<!-- <script>
        /*function deletePerson(pid){
            fetch('{{ url_for("delete", pid=pid) }}'+pid,{
                method:'DELETE'
            }).then(response=>{
                if(response.ok){
                    window.location.reload();
                }else{
                    console.error('failed to delete: ',pid)
                }
            })
                .catch(error=>{
                    console.error('error during fetching: ',error)
                })
        }
    </script> -->